<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyf.blog.ssm.mapper.CoreAdminMapper">
  <resultMap id="BaseResultMap" type="com.wyf.blog.ssm.pojo.domain.CoreAdmin">
    <!--@mbg.generated generated on Sat Feb 20 14:14:10 CST 2021.-->
    <!--@Table core_admin-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sat Feb 20 14:14:10 CST 2021.-->
    id, username, `password`, nickname, email, url, `status`, is_deleted, create_time, 
    update_time
  </sql>

</mapper>